
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(181, 182, 187);
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
   margin: 10px;
    justify-content: space-around
}

.container {
    width: 225px;
    height: 325px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}


.container-asa-noturna {
    background: linear-gradient(to right, #113e67 20%, #418fbb 50%, #67b3d5 75%);
}

.container-homem-aranha {
    background: linear-gradient(to right, #7a0000, #d62828, #ff6b35);
}

.container-ben10 {
    background: linear-gradient(to right, #0f5f1d, #2dbb3d, #7cff6d);
}


.container-banner {
    width: 225px;
    border-radius: 12px;
    overflow: hidden;
}

.container-banner img {
    display: block;
    width: 100%;
    height: 60px;
    object-fit: cover;
}


.container-perso {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-perso img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.nome {
    width: 225px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    text-align: center;
}

.nome h3 {
    font-size: 20px;
}

.nome h5 {
    font-size: 13px;
}


.linha {
    width: 85%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 0;
}


.info {
    width: 220px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.seguindo, .seguidores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.botao {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
}

button {
    width: 200px;
    background: transparent;
    border: none;
    padding: 8px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: white;
}


.container-asa-noturna .botao {
    background-color: #113e67;
}

.container-homem-aranha .botao {
    background-color: #7a0000;
}

.container-ben10 .botao {
    background-color: #0f5f1d;
}


.texto {
    width: 200px;
    color: white;
    text-align: center;
    font-size: 8px;
    border-radius: 12px;
}
